
/* General styling for body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-left: 2%;
    padding-right: 2%;
    display: grid;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    scroll-behavior: smooth;
}
/* Container for content */
.landing-container {
    display: grid;  
    justify-content: space-between;
    align-items: center;
    padding-left:5%;
    padding-right:5%;
    padding-top: 1%;
    width: 90%;
    grid-template-columns: [col1] auto [col2] auto;
}
.text-content {
    text-align: left;
    left:20%;
}

/* Left section content */
.text-content h1 {
    font-size: 25px;
    margin: 10px 0;
    text-align: left;
}

.text-content p {
    font-size: 25px;
    margin: 10px 0;
    text-align: left;
}

.rotating-titles-full-text p {
    font-size: 36px;
    font-weight: bold;
}
/* Rotating titles container */
.rotating-titles-full-text {
    display: inline-block;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle; /* Ensure vertical alignment is also correct */
}

/* New container for rotating text to prevent text movement */
.rotating-container {
    display: inline-block;
    text-align: left;
    white-space: nowrap;
    align-items: flex-start; /* Align items to the top */
}

/* Rotating titles styling */
.rotating-titles {
    font-size: 32px;
    font-weight: bold;
    color: #4CAF50;
    display: inline-block;
    border-right: 2px solid #4CAF50; /* Creates the caret effect */
    padding-right: 5px; /* Space between text and caret */
    animation: blinkCaret 0.7s step-end infinite; /* Blinking animation */
    text-align: left;
}

.links {
    display: flex;
    align-items: top; /* Align items vertically in the center */
    gap: 10px; /* Adds space between each element */;
}

.social-icon {
    width: 30px; /* Adjust size of the icons as needed */
    height: 30px;
}

/* CV Button styling */
.cv-button {
    padding: 6px 25px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.cv-button:hover {
    background-color: #45a049;
}

.descripcion-bruno-texto p {
    font-size: 20px;
    padding-top: 20px;
    padding-right: 40px;
    text-align: justify;
}
.photo {
    width: 400px;
    height: 800px;
    border-radius: 8px;
    object-fit: cover;
    overflow: clip;
    padding-right: 5%;
    opacity: 0; /* Start with the image being invisible */
    transform: translateX(100%); /* Initially position the image off-screen to the right */
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Add both transform and opacity transition */
}

/* When the page loads, apply the transition effect */
.photo.loaded {
    opacity: 1; /* Fade in */
    transform: translateX(0); /* Slide into view */
}

/* When the viewport is below 349px, hide the image */
@media (max-width: 1000px) {
    .photo {
        display: none;
    }
}

/* Keyframes for caret blinking */
@keyframes blinkCaret {
    50% {
        border-color: transparent; /* Makes the caret disappear */
    }
}

.service-examples{
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    padding-top: 5%;
}
.index-boxes{
    background-color: aquamarine;
    height: 500px;
    width: 200px;
    padding:5%;

}
.inner-boxes{   
     display: grid;
    grid-template-rows: [row1] 40% [row2] 20% [row3] 20% [row4] 10%;
    padding:5%;
    height: 100%;
    width: 100%;
    }

.logo{
    object-fit: contain;
    height:90%;
    align-self: center;
}
