/* General styling for body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

/* Container for content */
.landing-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.text-content {
    text-align: left;
    left:20%;
}

/* Left section content */
.text-content h1 {
    font-size: 25px;
    margin: 10px 0;
    text-align: left;
}

.text-content p {
    font-size: 25px;
    margin: 10px 0;
    text-align: left;
}

.rotating-titles-full-text p {
    font-size: 36px;
    font-weight: bold;
}
/* Rotating titles container */
.rotating-titles-full-text {
    display: inline-block;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle; /* Ensure vertical alignment is also correct */
}

/* New container for rotating text to prevent text movement */
.rotating-container {
    display: inline-block;
    text-align: left;
    white-space: nowrap;
    align-items: flex-start; /* Align items to the top */
}

/* Rotating titles styling */
.rotating-titles {
    font-size: 32px;
    font-weight: bold;
    color: #4CAF50;
    display: inline-block;
    border-right: 2px solid #4CAF50; /* Creates the caret effect */
    padding-right: 5px; /* Space between text and caret */
    animation: blinkCaret 0.7s step-end infinite; /* Blinking animation */
    text-align: left;
}

.links {
    display: flex;
    align-items: top; /* Align items vertically in the center */
    gap: 10px; /* Adds space between each element */;
}


.social-icon {
    width: 30px; /* Adjust size of the icons as needed */
    height: 30px;
}

/* CV Button styling */
.cv-button {
    padding: 6px 25px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cv-button:hover {
    background-color: #45a049;
}

.descripcion-bruno-texto p {
    font-size: 20px;
    padding-top: 20px;
    padding-right: 40px;
    text-align: justify;
}
/* Photo styling */
.photo {
    max-width: 400px;
    border-radius: 8px;
    object-fit: cover;
    left: 5%;
}

/* Keyframes for caret blinking */
@keyframes blinkCaret {
    50% {
        border-color: transparent; /* Makes the caret disappear */
    }
}

     {
        border-color: transparent; /* Makes the caret disappear */
    }
}

    50% {
        border-color: transparent; /* Makes the caret disappear */
    }
}
