:root {
    --blue-color: rgb(228, 149, 120);
    --background-color:  #f4eded;
    --background-color-dm: #131414;
    --blue-color-dm:rgb(72, 117, 117);
    --text-color:black;
    --text-color-alt:white;
    --text-color-dm:var(--text-color-alt);
    --text-color-alt-dm:var(--text-color);
  }
/* General styling for body */
* {
    transition: background-color 0.6s;
    
}

body {
    font-family: "Nunito",sans-serif;
    margin: auto;
    height: 100%;
    width: auto;
    display: grid;
    align-items: center;
    background-color:var(--background-color);
    scroll-behavior: smooth;
    text-align: center;
    }

body.dark-mode {
    background-color: var(--background-color-dm);
}
a {
    text-decoration: none;  /* Remove underline */
    color: inherit;         /* Inherit the color from the parent */
    font-weight: inherit;   /* Inherit the font weight */
}

p {
    margin:0px;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    align-items: center;
    display: grid;
}

/* Container for content */
.landing-container {
    display: grid;  
    justify-content: space-between;
    align-items: center;
    padding-left:5%;
    padding-right:5%;
    padding-top: 1%;
    width: 90%;
    grid-template-columns: [col1] auto [col2] auto;
    pointer-events: none;
}
.text-content {
    text-align: left;
    left:20%;
}

/* Left section content */
.text-content h1 {
    font-size: 25px;
    margin: 10px 0;
    text-align: left;
    color:var(--text-color);
}
.dark-mode .text-content h1{
    color:var(--text-color-dm);
}
.text-content p {
    font-size: 25px;
    margin: 10px 0;
    text-align: left;
    color:var(--text-color);
}
.dark-mode .text-content p{
    color:var(--text-color-dm);
}

.rotating-titles-full-text p {
    font-size: 36px;
    font-weight: bold;
    color:var(--text-color);
}

.dark-mode .rotating-titles-full-text p {
    color:var(--text-color-dm);
}

/* Rotating titles container */
.rotating-titles-full-text {
    display: inline-block;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle; /* Ensure vertical alignment is also correct */
}

/* New container for rotating text to prevent text movement */
.rotating-container {
    display: inline-block;
    text-align: left;
    white-space: nowrap;
    align-items: flex-start; /* Align items to the top */
}

/* Rotating titles styling */
.rotating-titles {
    font-size: 32px;
    font-weight: bold;
    color: var(--blue-color);
    display: inline-block;
    border-right: 2px solid var(--blue-color); /* Creates the caret effect */
    padding-right: 5px; /* Space between text and caret */
    animation: blinkCaret 0.7s step-end infinite; /* Blinking animation */
    text-align: left;
}
.dark-mode .rotating-titles {
    color: var(--text-color-alt);
    border-right: 2px solid var(--text-color-alt);
}

.links {
    display: flex;
    align-items: top; /* Align items vertically in the center */
    gap: 10px; /* Adds space between each element */;
    pointer-events: auto;
}

.social-icon {
    width: 30px; /* Adjust size of the icons as needed */
    height: 30px;
    filter: saturate(150) grayscale(1) contrast(10);
    mix-blend-mode: multiply;
    pointer-events: auto;
    transition: transform 0.15s;
}
.social-icon:hover{
    transform: scale(1.05);
    filter: brightness(120%);
}

.dark-mode .social-icon {
    filter: brightness(0) invert(1);
    mix-blend-mode: normal;
}
/* CV Button styling */

.cv-button {
    padding: 6px 25px;
    font-size: 16px;
    background-color:var(--blue-color);
    color: var(--text-color-dm);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    pointer-events: auto;
    transition: transform 0.15s;
}
.cv-button:hover{
    transform: scale(1.05);
    filter: brightness(120%);
}
.dark-mode .cv-button {
    background-color:var(--blue-color-dm);
    color: var(--text-color-alt-dm);
}

.descripcion-bruno-texto p {
    font-size: 20px;
    padding-top: 20px;
    padding-right: 40px;
    text-align: justify;
}
.photo {
    height: 800px;
    border-radius: 8px;
    object-fit: cover;
    overflow: clip;
    padding-right: 5%;
    opacity: 0; /* Start with the image being invisible */
    transform: translateX(100%); /* Initially position the image off-screen to the right */
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Add both transform and opacity transition */
}

/* When the page loads, apply the transition effect */
.photo.loaded {
    opacity: 1; /* Fade in */
    transform: translateX(0); /* Slide into view */
}

/* When the viewport is below 349px, hide the image */
@media (max-width: 1000px) {
    .photo {
        display: none;
    }
}

/* Keyframes for caret blinking */
@keyframes blinkCaret {
    50% {
        border-color: transparent; /* Makes the caret disappear */
    }
}
.service-examples-title {
    padding-top: 5%;
    margin: auto;
    color: var(--text-color);
    pointer-events: none;
}
.dark-mode .service-examples-title {
    color: var(--text-color-dm)
}
.service-examples{
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    padding-right: 10%;
    padding-left: 10%;
    pointer-events: none;
    justify-content: space-evenly;
    gap:7px;
}
.service-examples-inner-title{
    display: flex;
    place-items: center;
    pointer-events: none;
    flex-direction: column;
    width: 45%;
}
.dark-mode .service-examples-inner-title h1{
    color: var(--text-color-dm);
}
.index-boxes{
    background-color: var(--blue-color);
    height: 500px;
    width: 240px;
    padding:3%;
    object-fit: contain;
    transition: 0.5s;
    border-radius: 8px;
    color:var(--text-color-alt);
    pointer-events: auto;
}
.dark-mode .index-boxes {
    background-color: var(--blue-color-dm);
    color: var(--text-color-alt-dm);
}

.index-boxes:hover{
    transform: scale(1.013);
    filter: brightness(120%);
}

.inner-boxes{   
     display: grid;
    grid-template-rows: [row1] 60% [row2] 10% [row3] 20% [row4] 10%;
    height: 100%;
    width: 100%;
    object-fit: contain;
    align-items: center;
    text-align: center;
    }

.inner-boxes-title{   
     font-size: 22px;
     justify-content:end;
    }
.logo{
    object-fit: scale-down;
    width: 100%;
    height:100%;
    align-self: center;
}

.framework-icon{
    width: 40px; /* Adjust size of the icons as needed */
    height: 40px;
    justify-self: center;
}

.framework-icon#skills{
    width: 55px; /* Adjust size of the icons as needed */
    height: 55px;
}

.icon-holder-grid{
    display: flex;
        flex-wrap: wrap;
        place-content: center;
        gap: .4rem;
        justify-self: center;
}
.icon-holder-grid#skills{
    padding: 10px;
    border-radius: 8px;
    width: 80vw;
}
.icon-holder-list{
    align-items: flex-end;
}

.image-and-description{
    font-size: 14px;
    height: 95px;
    width: 85px;
    align-content: center;
    justify-content: center;
    grid-template-rows: [row1] 70% [row2] 30%;
    justify-self: center;
    padding: 5px;
    display: grid;
    border-radius:8px;
    justify-self:center;
    align-items: center;
    justify-items: center;
    background-color: var(--blue-color);
    color:var(--text-color-alt);
    transition: transform 0.3s;
    pointer-events:auto;
}
.dark-mode .image-and-description{
    background-color: var(--blue-color-dm);
    color: var(--text-color-alt-dm);
}
.image-and-description:hover{
    transform: scale(1.05);
    filter: brightness(120%);
}

#particles-js {
    position: fixed;
    left: -50%;
    width: 200%;
    height:500%;
    z-index: -3;
    pointer-events:auto;
    transform: translateZ(-10px);
    /* This ensures that interactions are passed through to elements below */
  } /* ---- stats.js ---- */

  .timeline-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    padding-right: 40px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: [col1] 100% [col2] 14px; 
}

.timeline-item {
    display: grid;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    grid-template-columns: [row1] 100% [row2] 3px;
}

.timeline-item:nth-child(odd) .timeline-content {
    left: 0;
    box-sizing: border-box;

}

.timeline-item:nth-child(even) .timeline-content {
    box-sizing: border-box;
    right: 0;
    box-sizing: border-box;

}

.timeline-content {
    background: #fff;
    filter: opacity(0.85);
    padding: 15px;
    border-radius: 6px;
    position: relative;
    width: 45%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    left: 0;
    width: 100%;
}

.timeline-content h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
}

.timeline-content p {
    font-size: 1em;
    color: #666;
}

.timeline-item .ball {
    right: -42px;
    position: absolute;
    top: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px solid var(--blue-color);
    background-color: black;
}
.dark-mode .timeline-item .ball {
    border: 7px solid var(--blue-color-dm);
}

.timeline-item .ball img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire circle */
}

.date {
    display: block;
    margin-top: 10px;
    font-size: 0.9em;
    color: #888;
    text-align: right;
}
.header{
    display: grid;
    grid-template-columns: [col1] auto [col2] auto;
}
.timeline-bar {
    border-right: solid 7px var(--blue-color);
}
.dark-mode .timeline-bar{
    border-right: solid 7px var(--blue-color-dm);
}

.jupyter-iframe{
    width:99%;
    height:90vh;
    border-color: var(--blue-color);
    border-width:5px;
}
.dark-mode .jupyter-iframe {
        border-color: var(--blue-color-dm);
    }

 .inner-body{
    width:95%;
    padding:1%;
    align-items: flex-start;
}
.dark-mode .inner-body#inner-body-ml{
    color:var(--text-color-alt);
}
gradio-app .gradio-container {
    background-color: transparent !important;
    font-family:inherit !important;
    flex-direction: row !important;
    justify-content: center !important;
}
gradio-app .gradio-container h1 {
    font-size: 25px !important;
}

.dark-mode gradio-app .gradio-container-5-21-0 .prose *  {
    color: var(--background-color) !important;
}

header {
    position: sticky; /* Makes the header stay on top */
    top: 0; /* Position it at the top of the page */
    left: 0; /* Aligns it to the left */
    width: 100%; /* Takes full width of the page */
    background-color: coral; /* Dark background color */
    color: white; /* Text color */
    text-align: center; /* Center align text */
    height:min(10vh,50px);
    display: none;
    z-index:10;
    align-items: center;
    grid-template-columns: [col1] 70% [col2] 15%;
    padding-left: 15%;
}
.dark-mode header{
    background-color: var(--background-color-dm);
    filter: contrast(80%) brightness(110%)
}

@media screen and (max-width: 999px), 
       screen and (max-aspect-ratio: 1/1) {
  header{
    display: grid;
  }
  .descripcion-bruno-texto p {
    padding-right: 0;
  }
  .rotating-titles{
    font-size:28px;
  }
  .rotating-titles-full-text p {
    font-size: 28px;
  }
  .icon-holder-grid#skills {
    width: 95%;
  }
.inner-boxes{   
   grid-template-rows: [row1] 0% [row2] 20% [row3] 60% [row4] 20%;
}
.index-boxes{
    height: 200px;
}
.service-examples {
    padding: 2%;
}
.service-examples-inner-title {
    width: 100%;
}
       }
